/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

a {
    color: inherit;
    text-decoration: none;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
    margin: 0px;
}

main {
    padding: 0px 50px;
}

input::placeholder {
    text-align: center;
    font-weight: bold;
    color: black;
    font-size: 1.4em;
}

.main-container {
    width: 100%;
    max-width: 1540px;
    padding: 0 50px;
    box-sizing: border-box;
}


/* Le code pour le header */

header img {
    height: 19px;
    width: 61.1px;
    margin-top: 30px;
    margin-left: 50px;
}

.header-lien:hover {
    color: var(--main-color);
    border-top: #0065FC solid 2px;
}

header {
    padding-bottom: 30px;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-height: 49px;
}

nav div {
    display: flex;
}

nav div a {
    margin-left: 60px;
}

/* Pour styliser la premiere partie */

.info-group {
    margin: 30px 0px;
    height: auto;
}

.main-text {
    margin-bottom: 35px;
    font-size: calc(7rem+1vw);
}

.main-text h1 {
    font-size: 1.4rem;
    margin-bottom: 8px;
    margin-top: 0px;
}

.main-text p {
    font-size: 1em;
    margin: 0;
}

/* Le code pour styliser le formulaire */

main form p {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

main form{
    display: flex;
    margin-bottom: 35px;
    height: 49px;
    width: 377px;
}

main #ville::placeholder {
    font-size: 1.1rem;
}

main form i{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    width: 13.5%;
}

.rechercher {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--main-color);
    color: white;
    width: 35.5%;
    font-size: 1.1rem;
    font-weight: bold;
    border-radius: 0px 20px 20px 0px;
}

.loupe {
    display: none;
}

main #ville {
    border: 2px solid var(--main-bg-color);
    width: 51%;
}

.pointeur {
    display: flex;
    background-color: var(--main-bg-color);
    border-radius: 20px 0px 0px 20px;
}

/* Le code pour styliser les filtres */

.filter-cards {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 758px;
    height: 50px;
    margin-bottom: 35px;
}

.filter-cards .filter-card {
    font-weight: bolder;
}

.filter-cards p {
    font-weight: bolder;
    margin: 0px
}

.filter-cards #filter {
    margin: 14.5px 15px 14.5px 0px;
    font-size: 1.127rem;
}

.filter-card {
    border: 2px lightgrey solid;
    border-radius: 50px;
    font-size: 1.073rem;
    margin: 0px 7.5px;
    height: 100%;
}

.fc1 {
    margin-left: 0px;
}

.fc4 {
    margin-right: 0px;
}

.filter-card:hover {
    background-color: var(--filter-bg-color);
}

.filter-card a {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 15px 19px;
}

.filter-card i {
    margin-right: 10px;
}

.filter-group {
    display: flex;
    flex-direction: row;
    justify-content: stretch;
}

/* Le code pour styliser les infos de Marseille */

.info-ville {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    max-height: 24px;
}

.info-ville i {
    font-size: 1.5em;
    margin-right: 10px;
}

.info-ville p {
    margin: 0;
}


/* Le code utile pour les cartes */

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
    height: 100%;
    max-height: 614px;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;
    display: flex;
    flex-direction: column;
    margin-right: 40px;
}

.hebergements h1 {
    font-size: 1.4rem;
    margin-top: 0px;
    margin-bottom: 0px;
}

.hebergements h3 {
    margin: 0px 0px 8px 0px;
}

.hebergements p {
    font-size: 0.85rem;
}

.hebergements img {
    width: 100%;
    height: 100%;
    max-width: 245.33px;
    max-height: 124px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    aspect-ratio: 4/2;
}

.hebergement-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 30px;
    height: 100%;
    max-height: 207.25px;
}

.hebergement-cards .card {
    display: flex;
    flex-direction: column;
    max-width: 245.33px;
    width: 100%;
    height: 100%;
    max-height: 207.25px;
}

.hebergement-cards a {
    width: 30%;
    height: 100%;
}

.hebergement-cards .card-content {
    box-sizing: border-box;
    padding-left: 15px;
    height: 50%;
    width: 100%;
    margin-top: 4px;
    margin-bottom: 10px;
}

.card-content p {
    margin: 8px 0px;
}

.hebergements-pad {
    margin-top: 30px;
    margin-bottom: 0px;
}

.hebergements-pad h3 {
    margin: 0px;
    font-size: 1.15rem;
}

/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}


/* Le code pour les activités à Marseille */

.activites {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 35px 0px;
    height: 100%;
    max-height: 559px;
}

.activites h1 {
    margin: 30px 0px;
    padding: 0px 30px;
    font-size: 1.6rem;
}

.activites-cards .card {
    display: flex;
    flex-direction: column;
    padding: 0px;
    width: 100%;
    max-width: 297.5px;
    height: 100%;
    max-height: 439px;
}

.activites-cards img {
    width: 100%;
    height: 100%;
    max-width: 297.5px;
    max-height: 380px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    aspect-ratio: 2/3;
}

.activites-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0px 30px;
}

.activites-cards a {
    width: 100%;
    max-width: 297.5px;
    height: 100%;
    max-height: 439px;
}

.activites-cards h3 {
    margin: 0;
    padding: 20px 19px;
    display: flex;
    align-items: center;
    font-size: 1rem;
}

/* Le code pour déterminer le pied de page */

footer {
    max-height: 163px;
}

.footer-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    background-color: var(--main-bg-color);
    padding: 20px 0px 20px 20px;
    gap: 15px;
}

.footer-title {
    font-size: 18px;
    font-weight: bold;
}

/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/

/* Desktop normal >=1440px */
@media (max-width: 1440px) {
    .main-container {
        padding: 0px;
    }

    nav div {
        display: flex;
        justify-content: space-between;
        width: 344px;
        max-height: 35px;   
    }

    nav div #activites {
        margin: 0px 50px 0px 34px;
    }

    nav div #hebergements {
        margin: 0px 34px 0px 50px;
    }

    /* Hebergement 1440px */
    .hebergements-and-populaires {
        height: 614px;
    }

    .card-rating {
        display: flex;
        align-items: center;
        height: 13.5px;
    }

    .hebergement-cards {
        display: flex;
        justify-content: flex-start;
        gap: 2.5%;
    }

    .hc2 {
        margin-top: 30px;
    }

    .hebergements h1 {
        font-size: 1.4rem;
    }

    .hebergement-cards .card-content {
        margin-top: 8px;
        margin-bottom: 0px;
        padding-bottom: 10px;
    }

    .card-content p{
        font-size: 0.85rem;
    }

    .hebergements a, .hebergements .card {
        max-height: 207.25px;
        max-width: 250.33px;
        width: 105%;
        margin: 0px;
        box-sizing: border-box;
        flex-shrink: 1;
    }

    .hebergements-cards img {
        max-height: 124px;
        max-height: 250px;
    }

    .hebergements .card-content h3 {
        margin: 0px
    }

    .hebergements-pad {
        margin-top: 30px;
        margin-bottom: 2.5px;
    }

    /* Activites 1440px */
    .activites {
        width: 100%;
        padding: 0px;
        height: 559px;
        margin: 35px 0px;
    }

    .activites h1 {
        font-size: 1.6rem;
        margin: 30px 0px;
    }

    .activites .card-content h3 {
        font-size: 16px;
        padding: 0px
    }

    .activites .activites-cards {
        padding: 0px 30px;
        height: 100%;
        max-height: 439px;
        width: 100%;
        box-sizing: border-box;
    }

    .activites-cards .card {
        height: 100%;
        max-height: 459px;
        width: 100%;
        max-width: 297.5px;
    }

    .activites-cards .card-content {
        display: flex;
        align-items: center;
        height: 59px;
        margin: 20px 19px;
        padding: 0px;
    }

    .activites-cards img {
        height: 380px;
    }

    /* footer 1440px */
    .containerfoot {
        margin-top: 0px;
    }

    footer {
        height: 100%;
        max-height: 163px;
        margin: 0px 50px;
    }
}

/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    main {
        padding: 0px 50px;
    }


    .hebergements-and-populaires {
        flex-direction: column;
        height: 100%;
        max-height: 913.5px;
    }

    .hebergements {
        width: 100%;
        max-height: 611.5px;
        margin: 0px;
    }

    .hebergement-cards a, .hebergements .card {
        max-width: 268px;
        width: 100%;
        box-sizing: border-box;
        flex-shrink: 1;
    }

    .hebergement-cards img {
        width: 100%;
        max-width: 268px;
        height: 100%;
        max-height: 124px;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        height: 100%;
        max-height: 146px;
        margin-top: 20px;
    }

    .populaires-cards .card {
        margin: 0px;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }

    .activites, .activites section {
        height: 100%;
        max-height: 390px;
    }

    .activites-cards {
        height: 100%;
        max-height: 270px;
        box-sizing: border-box;

    }

    .activites-cards .card, .activites-cards a {
        width: 100%;
        max-width: 193.5px;
        height: 100%;
        max-height: 270px;
    }

    .activites-cards img {
        aspect-ratio: 9/10;
        height: 100%;
        max-height: 200px;
    }

    .activites-cards .card-content {
        height: 19px;
    }

    .activites-cards h3 {
        font-size: 0.9rem;
        display: flex;
        align-items: center;
    }

    .espace-foot {
        margin-right: 12%;
    }

    .filter-cards {
        width: 80%;
    }

    .filter-cards {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        height: 91px;
        width: 82.9%;
    }

    .filter-cards .filter-title {
        height: 45%;
        margin-left: 7.5px;
    }
    .filter-title #filter {
        margin-bottom: 20px;
        margin-top: 0px;
        margin-right: 0px;
    }

    .filter-card {
        font-size: 1rem;
    }

    .filter-group {
        height: 55%;
    }
}

/* Medium device between 880px and 768px */

@media (min-width: 768px) and (max-width: 880px) {

.activites-cards h3 {
    font-size: 0.8rem;
}

.element {
    font-size: 0.75em;
}
}

/* Small devices (phones, less than 768px) */
@media (max-width: 768px) {

    /* Le code pour le header */

    nav {
        display: grid;
        justify-content: center;
        grid-template-columns: repeat(2, 50%);
        grid-template-rows: repeat(2, 50%);
        height: 130px;
        width: 100%;
    }

    nav div {
        justify-content: space-around;
        text-align: center;
        grid-column: span 2;
        height: 100%;
    }

    nav div a {
        margin: 0px;
        width: 50%;
        height: 50px;
    }

    nav div p {
        margin-bottom: 0px;
    }

    .header-lien {
        border-bottom: #F2F2F2 solid 2px;
    }

    .header-lien:hover {
        color: var(--main-color);
        border-top: none;
        border-bottom: #0065FC solid 2px;
    }

    header img {
        margin: 20px 0px 0px 0px;
        height: 1.5rem;
        width: 5rem;
    }

    .head-logo {
        grid-column: span 2;
        justify-self: center;
    }

    .head-lien {
        justify-content: center;
    }

    header {
        width: 100%;
        height: auto;
    }

    .main-container {
        padding: 0px;
    }

    /* Le code pour le texte d'intro */

    .main-text {
        padding-left: 20px;
        margin-top: 15px;
        margin-bottom: 30px;
    }

    .main-text h1 {
        font-size:  1.6em;
        width: 80vw;
    }

    .main-text p {
        font-size: 1.1em;
    }

    /* Le code pour le formulaire */

    .form-height {
        margin-bottom: 0px;
        padding-left: 20px;
    }

    form {
        width: 430px;
    }

    main #ville {
        width: 70%;
        padding-left: 20px;
    }

    main #ville ::placeholder {
        text-align: left;
    }

    .rechercher p {
        display: none;
    }

    .rechercher {
        position: absolute;
        right: 40px;
        font-size: 1em;
        width: 14%;
        border-radius: 20px;
    }

    .form-height input {
        width: 80%;
    }

    .loupe {
        display: flex;
        justify-content: center;
        align-items: center;
        color: var(--main-bg-color);
    }
}